<div class="beer-container">
 <div class="each-beer-container">
  <div class="beer-image-div">
    <img src="{{ this.image_url }}" alt="beer image">
  </div>
  <div class="beer-container-txt">
    <h2>{{this.name }}</h1>
    <h3>{{this.tagline}}</h2>
    <p class="beer-description">{{this.description}}</p>
   </div>
 </div>
</div>

